@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0c8831;
    --secondary-color: #b1fc73;
}
/* =========================
   NAVBAR
========================= */

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    padding:10px 20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    z-index:99999;

    /* INITIAL */

    background:transparent;

    box-shadow:none;

    transition:0.4s ease;
}

/* =========================
   SCROLL NAVBAR
========================= */

.navbar.active{

    background:white;
    box-shadow:0 0 10px gray;
}

.logo{
    flex:1;
}

.logo img{
    width: clamp(150px, 20vw, 200px);
}

.nav-links ul{
      font-family: "Noto Sans", sans-serif;
    display: flex;
    list-style: none;
    gap: 20px;
    flex-direction: row;
    font-size: 18px;
}

.navlink{

    text-decoration:none;

    color:white;

    transition:0.3s ease;
}

/* SCROLL TIME */

.navbar.active .navlink{

    color:black;
} 

.navbar.active .nav-icons span{

    color:gray;
    border-color: gray;
} 

.nav-content{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex:2;
    align-items: center;
}

.nav-icons{
    display: flex;
    gap: 10px;
}

.nav-icons span{
    border: 1px solid white;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.login-btn{
    padding:10px 35px;
    font-size: 18px;
    border-radius: 10px;
    border:none;
    background:linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}


.menu-toggle{
    display: none;
}

.close-btn{
    display: none;
}

.nav-links li::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
}

.nav-links li:hover::after{
    width: 100%;
}


@media (max-width: 1000px){
    .nav-content{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0px;
    
        height: 100vh;
        background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
        gap: 30px;
    }

    
    .logo{
       Z-index: 1;
    }

    .nav-links ul{
        flex-direction: column;
        gap: 15px;
        margin-top: 80px;
        align-items: center;
    }


    .menu-toggle{
    display: block;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

}

.close-btn{
    display: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    Z-index: 1;
}
}


 /* hero content */

/* =========================
   HERO SECTION
========================= */

.hero-section{

    min-height:100vh;

    width:100%;

    display:flex;

    flex-direction:column;

    align-items:flex-start;

    justify-content:center;

    padding:120px 8%;

    position:relative;

    overflow:hidden;

    background:
    linear-gradient(
    90deg,
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.45)
    ),

    url("./src/hero-1.webp");

    background-position:center;

    background-repeat:no-repeat;

    background-size:cover;
}

/* =========================
   HERO ICONS
========================= */

.hero-icons{

    display:flex;

    gap:40px;

    text-align:center;

    margin-bottom:30px;

    flex-wrap:wrap;
}

.hicon{

    display:flex;

    flex-direction:column;

    align-items:center;
}

.subicon{

    position:relative;
}

.subicon i{

    padding:30px;

    color:green;

    font-size:24px;

    height:70px;
    width:70px;

    display:flex;

    justify-content:center;
    align-items:center;

    border-radius:50%;

    background:#EEFBF2;
}

.subicon span{

    position:absolute;

    top:0;
    right:0;

    background:green;

    height:22px;
    width:22px;

    border-radius:50%;

    color:white;

    font-size:12px;

    display:flex;

    justify-content:center;
    align-items:center;
}

.hicon p{

    margin-top:10px;

    font-size:18px;

    color:#fff;
}

/* =========================
   TITLE
========================= */

/* TITLE */

.hero-title{

    display:flex;

    flex-direction:column;

    gap:10px;
}

/* EACH LINE */

.hero-title span{

    width:0;

    overflow:hidden;

    white-space:nowrap;

    color:white;

    font-size:clamp(30px,6vw,75px);

    font-weight:bold;

    animation:

    typing 2s steps(25,end) forwards,

    blink 0.7s infinite;
    
}

/* SECOND LINE DELAY */

.hero-title span:nth-child(2){

    animation-delay:2.2s;

    opacity:0;

    animation-fill-mode:forwards;
    margin-bottom: 20px;
}

/* TYPING */

@keyframes typing{

    from{
        width:0;
        opacity:1;
    }

    to{
        width:100%;
        opacity:1;
    }
}

/* BLINK */

@keyframes blink{

    50%{
        border-color:transparent;
    }
}

/* =========================
   TEXT
========================= */

.hero-section > p{

    font-size:clamp(16px,2vw,22px);

    max-width:650px;

    line-height:1.7;

    margin-bottom:35px;

    color:#fff;
}

/* =========================
   BUTTONS
========================= */

.hero-btns{

    display:flex;

    gap:20px;

    flex-wrap:wrap;
}

.hero-btns button{

    padding:15px 30px;

    border-radius:10px;

    font-size:16px;

    cursor:pointer;

    transition:0.4s ease;
}

.hero-btns button:first-child{

    background:green;

    color:white;

    border:none;
}

.hero-btns button:first-child:hover{

    transform:translateY(-5px);

    box-shadow:
    0 10px 25px rgba(0,128,0,0.3);
}

.hero-btns button:last-child{

    background:white;

    color:green;

    border:none;
}

.hero-btns button:last-child:hover{

    transform:translateY(-5px);
}

/* =========================
   IMAGE BUTTONS
========================= */

.imgbtn{

    display:flex;

    gap:15px;

    flex-direction:column;

    position:absolute;

    right:5%;

    top:50%;

    transform:translateY(-50%);
}

.imgbtn button{

    height:20px;
    width:20px;

    border-radius:50%;

    border:2px solid white;

    background:transparent;

    cursor:pointer;

    transition:0.3s ease;
}

.top button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    position: fixed;
    right: 4%;
    bottom: 5%;
    background:linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    z-index: 99999;
}

/* ACTIVE BUTTON */

.active-btn{

    background:green !important;

    border-color:green;
}

/* =========================
   TABLET
========================= */

@media(max-width:992px){

    .hero-section{

        padding:120px 6%;
    }

    .hero-section h1{

        max-width:600px;
    }
}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

    .hero-section{

        padding:120px 5% 80px;

        align-items:center;

        text-align:center;
    }

    .hero-icons{

        justify-content:center;

        gap:25px;
    }

    .subicon i{

        height:60px;
        width:60px;

        font-size:20px;
    }

    .hicon p{

        font-size:16px;
    }

    .hero-section h1{

        font-size:45px;
    }

    .hero-section > p{

        max-width:100%;

        text-align:center;

        font-size:16px;
    }

    .hero-btns{

        justify-content:center;
    }

    .hero-btns button{

        width:100%;
    }

    .imgbtn{

        position:static;

        flex-direction:row;

        margin-top:40px;

        transform:none;
    }
}

/* =========================
   SMALL MOBILE
========================= */

@media(max-width:480px){

    .hero-section h1{

        font-size:34px;
    }

    .hero-icons{

        gap:28px;
    }

    .subicon i{

        height:40px;
        width:40px;
        padding: 15px;
        font-size:16px;
    }

     .subicon span{
        font-size: 10px;
        height: 15px;
        width: 15px;
    }

    .hero-btns button{

        padding:14px 20px;
        border-radius: 20px;
        font-size:15px;
        width: 90%;
    }

    .imgbtn button{

        height:16px;
        width:16px;
    }

}

/* =========================
   FOOTER
========================= */

.footer{

    width:100%;

    padding:90px 8% 40px;

    position:relative;

    overflow:hidden;

    background:

    linear-gradient(
    rgba(0,0,0,0.78),
    rgba(0,0,0,0.78)
    ),

    url("./src/footer-bg.webp");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    color:#fff;
}

/* CONTAINER */

.footer-container{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:50px;
}

/* TITLES */

.footer-column  img{
    width: clamp(150px,20vw,200px);
    
}

.footer-column h3{

    font-size:32px;

    margin-bottom:25px;

    font-weight:700;

    color:#fff;
}

/* TEXT */

.footer-column p{

    line-height:1.9;

    font-size:17px;

    color:rgba(255,255,255,0.82);

    margin-bottom:20px;
}

/* LINKS */

.footer-links{

    list-style:none;
}

.footer-links li{

    margin-bottom:16px;
}

.footer-links li a{

    text-decoration:none;

    color:#fff;

    font-size:17px;

    transition:0.3s ease;
}

.footer-links li a:hover{

    color:#32cd32;

    padding-left:8px;
}

/* MAP LINK */

.map-link{

    text-decoration:none;

    color:#32cd32;

    font-size:22px;

    font-weight:700;
}

/* CONTACT */

.contact-box{

    margin-bottom:25px;
}

.contact-box span{

    display:flex;

    align-items:center;

    gap:10px;

    color: #32cd32;

    margin-bottom:12px;

    font-weight:600;
}

.contact-box p{

    color:rgba(255,255,255,0.82);
}

/* NEWSLETTER */

.newsletter-box{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.newsletter-box input{

    padding:14px 25px;

    border:none;

    outline:none;

    font-size:16px;

    background:#fff;
}

/* BUTTON */

.newsletter-box button{

    padding:14px 25px;

    border:none;


    background:#12b82f;

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:0.4s ease;
}

.newsletter-box button:hover{

    transform:translateY(-5px);

    box-shadow:
    0 10px 25px rgba(50,205,50,0.3);
}

/* BOTTOM */

.footer-bottom{

    margin-top:60px;

    padding-top:30px;

    border-top:
    1px dashed rgba(50,205,50,0.5);

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:20px;

    flex-wrap:wrap;
}

.footer-bottom p{

    font-size:16px;

    color:#fff;

    line-height: 1.8;
}

.footer-bottom-links{

    display:flex;

    gap:20px;

    flex-wrap:wrap;
}

.footer-bottom-links a{

    text-decoration:none;

    color:#fff;

    font-size:16px;

    transition:0.3s ease;
}

.footer-bottom-links a:hover{

    color:#32cd32;
}

/* =========================
   TABLET
========================= */

@media(max-width:992px){

    .footer-container{

        grid-template-columns:
        repeat(2,1fr);
    }
}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

    .footer{

        padding:80px 5% 40px;

        text-align:center;
    }

    .footer-container{

        grid-template-columns:1fr;

        gap:40px;
    }

    .contact-box span{

        justify-content:center;
    }

    .newsletter-box input,
    .newsletter-box button{

        width:100%;
    }

    .footer-bottom{

        flex-direction:column;

        text-align:center;
    }

    .footer-bottom-links{

        justify-content:center;
    }
}


/* =========================
   FARM FEATURES
========================= */

.farm-features{

    width:100%;

    padding:clamp(30px,5vw,80px) 5%;

    display:grid;

    grid-template-columns:
    repeat(5,1fr);

    background:#EEF4ED;

    position:relative;
}

/* BOX */

.feature-box{

    height: clamp(70px, 10vw, 160px);

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;
}

/* VERTICAL LINE */

.feature-box::after{

    content:"";

    position:absolute;

    right:0;

    top:50%;

    transform:translateY(-50%);

    width:1px;

    height: clamp(50px,8vh,120px);

    background:#79C54A;
}

/* HORIZONTAL LINE */

.feature-box::before{

    content:"";

    position:absolute;

    bottom:0;

    left:50%;

    transform:translateX(-50%);

    width:100%;

    height:1px;

    background:#79C54A;
}

/* REMOVE EXTRA LINES */

.feature-box:nth-child(5)::after,
.feature-box:nth-child(8)::after{

    display:none;
}

.feature-box:nth-child(n+6)::before{

    display:none;
}

/* CENTER LAST 3 */

.feature-box:nth-child(6){

    grid-column:2;
}

.feature-box:nth-child(7){

    grid-column:3;
}

.feature-box:nth-child(8){

    grid-column:4;
}

/* IMAGE */

.feature-box img{

    width:clamp(50px,7vw,120px);

    transition:0.4s ease;
}

/* HOVER */

.feature-box:hover img{

    transform:scale(1.1);
}

/* =========================
   MOBILE
========================= *//* =========================
   MOBILE
========================= */
