@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0c8831;
    --secondary-color: #b1fc73;
}
.navbar{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
      box-shadow:0 0 10px gray;
}

.logo{
    flex:1;
}

.logo img{
    width: clamp(150px, 20vw, 200px);
}

.nav-links ul{
      font-family: "Noto Sans", sans-serif;
    display: flex;
    list-style: none;
    gap: 20px;
    flex-direction: row;
    font-size: 18px;
}

.nav-links ul li a{
    text-decoration: none;
    color:black;
}   

.nav-content{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex:2;
    align-items: center;
}

.nav-icons{
    display: flex;
    gap: 10px;
}

.nav-icons span{
    border: 1px solid gray;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
}

.login-btn{
    padding:10px 35px;
    font-size: 18px;
    border-radius: 10px;
    border:none;
    background:linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}


.menu-toggle{
    display: none;
}

.close-btn{
    display: none;
}

.nav-links li::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
}

.nav-links li:hover::after{
    width: 100%;
}


@media (max-width: 1000px){
    .nav-content{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0px;
    
        height: 100vh;
        background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
        gap: 30px;
    }

    
    .logo{
       Z-index: 1;
    }

    .nav-links ul{
        flex-direction: column;
        gap: 15px;
        margin-top: 80px;
        align-items: center;
    }


    .menu-toggle{
    display: block;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

}

.close-btn{
    display: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    Z-index: 1;
}
}

/* nav animation */
/* 
.nav-content{
    transform: translateX(-100%);
    animation: slideIn 0.3s forwards;
    transition: 2s;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} */